@font-face {
    font-family: virgil;
    src: url("webfonts/Virgil.woff2");
}

:root {
    --body-bg-color: #ededed;
    --main-bg-color: #FCFAEE;
    --font-color: #333;
    --light-font-color: #919191;
    --main-color: #fff0c1;
    --pussy-color: #FFF0F6;
    --link-color: #b78300;
    --input-color: #fcfcf6;
    --pink-stickit-color: #FFC9C9;
    --pink-stickit-hover: #ffb4b4;
    --pink-stickit-shadow: #996A6A;
    --border-color: #e9dbaf;
    --prio1-color: #c7e9fb;
    --prio2-color: #c3eab5;
    --prio3-color: #f5e48d;
    --prio4-color: #ffb692;
    --add-task-color: #ebffe7;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: virgil, sans-serif;
    background-color: var(--body-bg-color);
    color: var(--font-color);
}

.app {
    margin: 0 auto;
    max-width: 28rem;
    /*min-height: 24rem;*/
    height: 99.98vh; /* older browsers */
    height: 99.98dvh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--main-bg-color);
    text-align: center;
}

.app.login {
    background: var(--main-color);
}

.app.register, .app.pussyMeter, header.pussyBack {
    background: var(--pussy-color);
}

.app main {
    flex-grow: 1;
    overflow: auto;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

p, h1, h2, h3, h4, h5 {
    margin: 0;
}

p {
    word-break: break-word;
}

label {
    display: block;
    margin: 1rem 2rem;
}

.alignRight {
    text-align: right;
}

form > p {
    margin: 0 2rem;
}

header {
    position: relative;
    padding: 1rem 0;
    background: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    width: 100%;
}

.pussySliderIcons img {
    width: 100px;
    height: 80px;
}

.pussySliderIcons {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.slideContainer input {
    padding: 0;
}

input, button {
    font: inherit;
    border: 2px solid var(--font-color);
    background: var(--input-color);
    border-radius: .5rem;
    padding: .8rem;
    color: inherit;
}

#filter-text{
    width: 50%;
    margin: auto;
    text-transform: capitalize;
}

.filters {
    border-bottom: 2px solid black;
    background: var(--pink-stickit-color);
    display: flex;
    gap: .5rem;
    padding: .5rem;
}

.filters > * {
    font-size: 82%;
    flex-grow: 1;
    flex-basis: 80px;
}

.filters button:hover {
    background: var(--pink-stickit-hover);
}

button, label {
    cursor: pointer;
}

button.img, .stars button {
    border: none;
    background: transparent;
    border-radius: initial;
    padding: 0;
}

button {
    color: inherit;
}

button.cta {
    background: var(--pink-stickit-color);
    min-width: 6rem;
}

.stars {
    display: flex;
    flex-direction: row-reverse;
    border-top: .1rem solid var(--border-color);
}

.stars button {
    flex-grow: 1;
    background: var(--main-color);
}

.stars button + button {
    border-right: 2px solid var(--border-color);
}

h1 {
    margin-top: 2em;
    font-size: 2.7rem;
}

h2 {
    font-size: 1.2rem;
}

.reviewTitle {
    font-size: 1.2rem;
    margin-top: 2rem;
    color: var(--light-font-color);
}

header h2 {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.22rem;
}

header a, header div {
    z-index: 10;
}

header a {
    padding: 1rem;
}

h1.pussyHeader {
    margin-top: 1em;
}

main > form button {
    margin-top: 4rem;
}

.hidden {
    box-sizing: border-box;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    z-index: -100;
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}

.fade {
    opacity: 0.4;
    filter: blur(1px);
}

.note {
    opacity: 0.5;
    margin-bottom: 3rem;
}

.addTask {
    display: flex;
    padding: 0.4rem 0.5rem;
    background: var(--main-bg-color);
}

.addTask:focus-within {
    background: var(--input-color);
}

#add {
    border: none;
    outline: none;
    background: transparent;
}

.task, .week, .year {
    display: flex;
    border-bottom: 1px solid var(--border-color);
    padding-left: .5rem;
    position: relative;
    scroll-snap-align: start;
    min-width: 100%;
}

.task[data-done=true] img.notdone {
    display: none;
}

.task[data-done=false] img.isdone {
    display: none;
}

.task p {
    flex-grow: 1;
    text-align: left;
    padding: 1rem .5rem;
    line-height: 1.6;
}

.task form {
    align-self: center;
}

.dateTime {
    display: flex;
    border-bottom: .1rem solid var(--border-color);
    background-color: var(--main-color);
    gap: .5rem;
    padding: .5rem;
}

.dateTime > * {
    flex-grow: 1;
    flex-basis: 80px;
    font-size: 82%;
    padding: .8rem .2rem;
}

.dateTime .active {
    background: var(--pink-stickit-color);
}

.task .due {
    white-space: nowrap;
    color: var(--light-font-color);
    align-self: center;
    padding: 1rem .5rem;
    padding-right: .3rem;
}

.due {
    margin-right: 0;
}

.task button, .task img {
    display: block;
}

.task button {
    padding: .5rem;
    padding-right: .8rem;
}

.prio1, .prio2, .prio3, .prio4 {
    width: .45rem;
    position: absolute;
    left: 0;
    top: .3rem;
    bottom: .3rem;
}

.prio1 {
    background: var(--prio1-color);
}

.prio2 {
    background: var(--prio2-color);
}

.prio3 {
    background: var(--prio3-color);
}

.prio4 {
    background: var(--prio4-color);
}

.week p, .year p {
    padding: 1rem .5rem;
}

.week {
    justify-content: center;
    color: var(--pink-stickit-shadow);
}

:first-child > .year {
    display: none;
}

.year {
    justify-content: flex-start;
    background-color: var(--pink-stickit-color);
    color: var(--pink-stickit-shadow);
}

img {
    height: 1.7rem;
}

form + p {
    margin-top: 2rem;
}

main > p:last-child {
    margin-bottom: 4rem;
}

footer {
    background: var(--main-color);
    border-top: 2px solid var(--font-color);
    position: relative;
}

footer img {
    height: 3rem;
}

footer label {
    margin: 0;
    padding: .5rem;
}

footer input + img {
    margin-left: 0.5rem;
}

footer input, .stars button {
    padding: .5rem .5rem;
}

#plannedFooter {
    display: none;
}

.stars button {
    padding-bottom: 0;
}

.stars > :nth-child(1):hover, .stars > :nth-child(1).active {
    background: var(--prio4-color)
}

.stars > :nth-child(2):hover, .stars > :nth-child(2).active {
    background: var(--prio3-color)
}

.stars > :nth-child(3):hover, .stars > :nth-child(3).active {
    background: var(--prio2-color)
}

.stars > :nth-child(4):hover, .stars > :nth-child(4).active {
    background: var(--prio1-color)
}


.weekSummary h1 {
    font-size: 5rem;
    margin-top: 1.5rem;
}

.weekSummary h2 {
    margin-top: 0;
    margin-bottom: 1.2rem;
    opacity: 1;
}

.weekSummary p, .week-review .awesome {
    padding: 1rem 2rem;
    line-height: 1.666;
}

.weekSummary .weekNote {
    border-bottom: 1px solid var(--border-color);
    margin-top: 2rem;
}

.weekSummary .weekNote, .week-review .awesome {
    font-size: 86%;
    padding: 1rem;
    text-align: left;
    color: var(--font-color);
    line-height: 1.666;
}

.app.week-review {
    background: var(--main-bg-color);
}

.week-review .task p {
    cursor: pointer;
}

button.startWeek {
    background: var(--prio2-color);
    margin-bottom: 25vh;
    margin-top: 10vh;
}

.stickman {
    height: 4rem;
    display: block;
    margin-left: 78%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    height: 2px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--pink-stickit-shadow);
    background-color: var(--pink-stickit-color);
}

.week-progressbar {
    position: absolute;
    z-index: 1;
    bottom: 0;
    height: 2px;
    background-color: var(--font-color);
}

.week-progressbar.sunday {
    background-color: var(--pink-stickit-color);
}

.dropbtn {
    border: none;
    padding: .5rem;
    margin-left: .666rem;
    background-color: var(--main-color);
    height: 3.25rem;
}

.dropbtn img {
    height: 2rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--pink-stickit-color);
    min-width: 9rem;
    z-index: 100;
    box-shadow: 0 .1rem .2rem 0 var(--pink-stickit-shadow);
}

.dropdown-content a {
    color: black;
    padding: .75rem 1rem;
    text-align: left;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--pink-stickit-hover);
}

.taskStatus {
    align-self: center;
    padding: 0 0.3rem;
}

.checkboxContainer {
    padding: 0.25rem;
    margin: 0;
    align-self: center;
    cursor: pointer;
    caret-color: transparent;
    position: relative;
}

.intro {
    margin-top: 3rem;
}

#form {
    margin-top: 4rem;
}

textarea {
    width: 21rem;
    height: 5rem;
    border: 2px solid #333;
    font: inherit;
    border-radius: .5rem;
}

#received {
    padding: .8rem;
    color: darkgreen;
}

#formButton {
    margin-top: 0;
    background: #C3EDCE;
}

.discordFeedback {
    margin: 2rem 5rem;
    cursor: pointer;
    padding: .625rem;
    text-align: center;
    border: 2px solid #333;
    border-radius: .5rem;
    width: 15rem;
    background: #d9d9ff
}

.discordFeedback img {
    margin: 1rem 1rem 0;
}

.discordLogin {
    margin-top: 6rem;
    cursor: pointer;
    padding: 1rem;
    display: flex;
    justify-content: center;
    color: var(--link-color);
}

.task:has(.toDelegate:checked) {
    background: var(--add-task-color);
}

.task:has(.cross), .task:has(input[value="true"]) {
    background: var(--input-color);
}

span.weekIcon, input.toDelegate {
    display: none;
}

input.toDelegate + span.weekIcon {
    display: initial;
}

input.toDelegate:checked + span.weekIcon {
    display: none;
}

input.toDelegate:checked + span.weekIcon + span.weekIcon {
    display: initial;
}


.icon-unchecked {
    height: 3rem;
}

.left-behind .task button {
    border: none;
    padding: .4rem;
}

#logout {
    cursor: pointer;
}

.NoTaskPlaceholder, .plannedPlaceholder {
    margin: 4.5rem 2rem;
    opacity: 0.6;
}

.NoTaskPlaceholder img {
    width: 20.5rem;
    height: auto;
}

.NoTaskPlaceholder p {
    margin-bottom: 1.5rem;
    line-height: 1.6;
}

.password {
    position: relative;
}

#showPassword {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.fadeoutMessage {
    margin-inline: auto;
    left: 0;
    right: 0;
    width: fit-content;
    position: absolute;
    top: -4rem;
    font-size: 1.1rem;
    border-radius: .3rem;
    padding: .666rem;
    transition: opacity 1s ease-out;
    color: green;
    border: 1px solid green;
    background-color:var(--prio2-color);
}


#redFeedback {
    color: #d7703d;
    border: 1px solid #d7703d;
    background-color: var(--pink-stickit-color);
}

.fadeoutMessage.fade-out {
    opacity: 0;
}

.taskStatus img {
    fill: #919191;
}

.taskContainer {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.taskContainer::-webkit-scrollbar {
    display: none;
}

.delete {
    background: var(--prio4-color);
    display: flex;
}

.deleteImg {
    border: none;
    background: none;
    border-radius: 0;
    padding: 0 .5rem;
}

.deleteImg img {
    height: 3.5rem;
}

/*area chart for week review*/
.area-chart {
    margin: auto;
    padding: 0;
    border: 0;
    width: 80%;
}
.area-chart tbody{
    width: 100%;
    height: 10rem;

    /* Layout */
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: row;
}
.area-chart tr {
    position: relative;
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}
.area-chart td {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 10rem;

    /* Color */
    background: var(--fillcolor, var(--main-bg-color));
    opacity: 0.4;
    clip-path: polygon(
            0% calc(100% * (1 - var(--start))),
            100% calc(100% * (1 - var(--end))),
            100% 100%,
            0% 100%
    );
}

.area-chart td:nth-of-type(1) {
    --fillcolor: var(--prio1-color);
}
.area-chart td:nth-of-type(2) {
    --fillcolor: var(--prio2-color);
}
.area-chart td:nth-of-type(3) {
    --fillcolor: var(--prio3-color);
}
.area-chart td:nth-of-type(4) {
    --fillcolor: var(--prio4-color);
}

.weeekdays {
    width: 83%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: var(--light-font-color);
}

.quote {
    margin: 1.5rem;
}

.author {
    text-align: end;
    margin-right: 1rem;
}

@media (max-width: 459px) {
    header {
        /*position: fixed;*/
        z-index: 8;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1rem 0;
        padding-top: calc(1rem - env(safe-area-inset-bottom) / 2);
        height: 5rem;
        height: calc(5rem - env(safe-area-inset-bottom) / 2);
    }

    /*header + main {*/
    /*    margin-top: 5rem;*/
    /*    margin-top: calc(5rem - env(safe-area-inset-bottom) / 2);*/
    /*}*/
}

@media (min-width: 460px) {
    .app {
        margin: 1rem auto;
        box-shadow: 0 0 0 3px black;
        border-radius: 1rem;
        max-width: 404px;
        height: calc(100svh - 2rem);
    }
}
