@font-face {
    font-family: virgil;
    src: url("webfonts/Virgil.woff2");
}

body {
    margin: 0;
    padding: 0;
    font-family: virgil, sans-serif;
    background-color: #ffc9c9;
}

.phone-screen {
    margin: 0 auto;
    min-width: 23rem;
    min-height: 30rem;
    height: 100svh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: white;
}

@media(min-width: 400px) {
    .phone-screen {
        margin: 1rem auto;
        box-shadow: 0 0 0 3px black;
        border-radius: 2rem;
        max-width: 394px;
        height: calc(100svh - 2rem);
    }
}

.weekSummary {
    border-bottom: 2px solid black;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weekSummary p {
    margin: 0;
}

.weekSummary button {
    background-image: url("img/Box_2_CutToEdge.png");
    background-size: cover;
    width: 22rem;
    height: 3.4rem;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    font-family: inherit;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.percentage h1 {
    font-size: 5rem;
    color: green;
    margin: 1rem;
    margin-bottom: 0;
}

.task {
    border-bottom: 1px solid black;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.taskContainer {
    overflow: auto;
    flex-grow: 1;
    padding-bottom: 4rem;
}

p{
    font-size: 1.2rem;
}

.taskText {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 1rem;
    margin-left: 0;
}

.taskContainer span {
    width: 4rem;
}


header {
    border-bottom: 2px solid black;
    padding: 1.33rem 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
}

header a {
    padding: 1rem;
    z-index: 1;
}

header p {
    align-self: center;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.taskContainer form {
    margin-top: 3.33rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.taskContainer form button {
    background-image: url("img/Box_4_CutToEdge.png");
    background-size: cover;
    width: 20rem;
    height: 4.1rem;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    font-family: inherit;
    font-size: 1.2rem;
}

.taskContainer span img {
    height: 2rem;
}

#motivation {
    margin-top: 2.5rem;
    text-align: center;
    color: grey;
}

a {
    text-decoration: none;
    color:black;
}