<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
</head>
<body>
<form th:method="post" th:action="|/feedback/update|">
    <table>
        <tr>
            <th>feedback</th>
            <th></th>
        </tr>
        <tr th:each="feedback : ${feedbacks}">
            <td th:text="${feedback.description}"></td>
            <td>
                <label>
                    <input type="checkbox" name="feedbackIds" th:value="${feedback.id}">
                </label>
            </td>
        </tr>
    </table>
    <button>REFRESH</button>
</form>
</body>
</html>