<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
    <link rel="stylesheet" href="/new.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script async src="https://umami.petabyte.farm/script.js"
            data-website-id="0076ce35-dec8-4042-ba76-0dc4b52922b0"></script>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/iconx32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/touch-icon.png">
    <link rel="manifest" href="/manifest.json">
</head>
<body>
<section class="app">
    <header>
        <a th:href="@{/}"> < </a>
        <h2>Feedback</h2>
    </header>

    <main>
        <div class="intro">
            <p>We'd love to hear from you!</p>
            <p>Your feedback is crucial for our improvement.</p>
        </div>

        <form method="post" th:action="|/feedback|" id="form">
            <p>Anonymous review:</p>
            <label>
                <textarea name="description"></textarea>
            </label>
            <p th:if="${received} == true" id="received">Feedback received, thank you!</p>
            <button th:unless="${received} == true" id="formButton" type="submit">SUBMIT</button>
        </form>

        <p>or</p>

        <div class="discord" onclick="redirectToDiscord()">
            <p>Join our Discord Community</p>
            <img src="/img/discord_icon.svg" alt="discord logo">
        </div>
    </main>
</section>

<script>
    function redirectToDiscord() {
        let newWindowUrl = 'https://discord.gg/cP9Xa5TcuX';
        window.open(newWindowUrl, '_blank');
    }
</script>
</body>
</html>
