<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
    <link rel="stylesheet" href="/new.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta th:replace="fragments.html :: head-metadata">
</head>
<body>
<section class="app">
    <header>
        <a th:href="@{/}"> &lt; </a>
        <h2>Feedback</h2>
    </header>

    <main>
        <div class="intro">
            <a th:href="@{/test}"><p>We'd love to hear from you!</p></a>
            <p>All your feedback is processed by our cat.</p>
        </div>

        <form method="post" th:action="|/feedback|" id="form">
            <p>Anonymous review:</p>
            <label>
                <textarea name="description"></textarea>
            </label>
            <p th:if="${received} == true" id="received">Feedback received, thank you!</p>
            <button th:unless="${received} == true" id="formButton" type="submit">SUBMIT</button>
        </form>

        <p>or</p>

        <div class="discordFeedback" onclick="redirectToDiscord()">
            <p>Join our Discord Community</p>
            <svg th:insert="~{svgFragments::discord_icon}"></svg>
        </div>
    </main>
</section>
</body>
</html>
