<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta fragment -->
    <th:block th:fragment="head-metadata">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <script async src="https://umami.petabyte.farm/script.js"
                data-website-id="0076ce35-dec8-4042-ba76-0dc4b52922b0"></script>
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="icon" type="image/png" sizes="32x32" href="/icons/iconx32.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/icons/touch-icon.png">
        <link rel="manifest" href="/manifest.json">
        <script src="/js/app.js"></script>
    </th:block>
</head>

<body>
<!-- Fragment for the user and password input fields -->
<!--<th:block th:fragment="user-login-fields()">-->
<!--    <label>-->
<!--        <input type="text" name="username" placeholder="email" autofocus required autocapitalize="none">-->
<!--    </label>-->

<!--    <label class="password">-->
<!--        <input type="password" name="password" id="password" placeholder="password" required>-->
<!--        <img src="/img/eye_icon_closed.svg" id="showPassword" onclick="togglePasswordVisibility()" alt="hide icon">-->
<!--    </label>-->
<!--</th:block>-->


<!--&lt;!&ndash;If no tasks&ndash;&gt;-->
<!--<th:block th:fragment="task-placeholder(isEmpty, message, imgSrc)">-->
<!--    <div th:if="${isEmpty}" class="NoTaskPlaceholder">-->
<!--        <p th:utext="${message}"></p>-->
<!--        <img th:src="${imgSrc}" alt="cat">-->
<!--    </div>-->
<!--</th:block>-->

<!--&lt;!&ndash;Delete&ndash;&gt;-->
<!--<th:block th:fragment="delete-form(taskId, action, imgSrc)">-->
<!--    <form class="delete" th:method="post" th:action="${action}">-->
<!--        <input type="hidden" name="id" th:value="${taskId}">-->
<!--        <button class="deleteImg">-->
<!--            <img th:src="${imgSrc}" alt="delete icon">-->
<!--        </button>-->
<!--    </form>-->
<!--</th:block>-->
<!--</body>-->

<footer>
    <!--Buttons priority-->
    <th:block th:fragment="buttons-priority">
        <div class="stars">
            <button onclick="setPriority(4)" type="submit" name="priority" value="4" data-umami-event="setPriority"
                    data-umami-event-priority="4">
                <svg th:insert="svgFragments::|prio4_pm_${user.pussyMeter}|" alt="priority 4"/>
            </button>
            <button onclick="setPriority(3)" type="submit" name="priority" value="3" data-umami-event="setPriority"
                    data-umami-event-priority="3">
                <svg th:insert="svgFragments::|prio3_pm_${user.pussyMeter}|" alt="priority 4"/>
            </button>
            <button onclick="setPriority(2)" type="submit" name="priority" value="2" data-umami-event="setPriority"
                    data-umami-event-priority="2">
                <svg th:insert="svgFragments::|prio2_pm_${user.pussyMeter}|" alt="priority 4"/>
            </button>
            <button onclick="setPriority(1)" type="submit" name="priority" value="1" data-umami-event="setPriority"
                    data-umami-event-priority="1">
                <svg th:insert="svgFragments::|prio1_pm_${user.pussyMeter}|" alt="priority 4"/>
            </button>
        </div>
    </th:block>

<!--    &lt;!&ndash;Fadeout&ndash;&gt;-->
<!--    <th:block th:fragment="green-app(message, isEmpty)">-->
<!--        <p class="fadeoutMessage" th:text="${message}" th:if="${isEmpty} == true"></p>-->
<!--    </th:block>-->
<!--    <th:block th:fragment="red-app(message, isEmpty)">-->
<!--        <p class="fadeoutMessage" th:text="${message}" th:if="${isEmpty} == true" id="redFeedback"></p>-->
<!--    </th:block>-->
</footer>
</html>