<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>TodoZ-main</title>
    <link rel="stylesheet" href="/new.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script async src="https://umami.petabyte.farm/script.js" data-website-id="0076ce35-dec8-4042-ba76-0dc4b52922b0"></script>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/iconx32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/touch-icon.png">
    <link rel="manifest" href="/manifest.json">
</head>
<body>
<section class="app home">
    <header>
        <div class="dropdown">
            <button class="dropbtn" onclick="toggleDropdown()">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </button>
            <div class="dropdown-content">
                <a href="/longTerm">Planned</a>
                <a href="/leftBehind">Left behind</a>
                <a href="/pussyMeter">Pussy meter</a>
                <a href="/feedback">Feedback</a>
                <form method="post" id="logoutForm" th:action="|/logout|">
                    <a id="logout" onclick="logout()">Log out</a>
                </form>
            </div>
        </div>
        <h2 th:text="|Week ${currentWeek.getWeekNumberNumber()}|"></h2>
        <div id="week-progressbar"></div>
    </header>

    <main>
        <div class="task" th:each="task : ${currentWeek.getSortedTasks()}" th:object="${task}" th:data-priority="*{priority}" th:data-id="*{id}" th:data-done="*{done}">
            <span th:classappend="|prio${task.getPriority()}|"></span>
            <p th:text="*{description}"></p>
            <span class="due" th:text="*{getRemainingDays()}" th:data-duedate="*{dueDateDate}"></span>
            <form onsubmit="handleSubmit(event)" th:action="|/tasks/check/*{id}|" th:method="POST">
                <input type="hidden" th:name="done" th:value="${!task.isDone()}"/>
                <button class="img" th:type="submit">
                    <img class="isdone" src="/img/vector_img_checkedbox.png" alt="mark as not done"/>
                    <img class="notdone" src="/img/vector_img_checkbox.png" alt="mark as done"/>
               </button>
            </form>
        </div>
    </main>

    <footer>
        <form method="post" th:action="@{/tasks/add}">
            <button type="submit" name="priority" value="4" class="hidden"></button>

            <div class="stars">
                <button onclick="setPriority(4)" type="submit" name="priority" value="4" data-umami-event="setPriority" data-umami-event-priority="4">
                    <img th:if="${user.pussyMeter == 0}" src="/img/star_icon-family-04.png">
                    <img th:if="${user.pussyMeter == 1}" src="/img/Fire_Icon-04.png">
                    <img th:if="${user.pussyMeter == 2}" src="/img/skull_icon-05.png">
                </button>
                <button onclick="setPriority(3)" type="submit" name="priority" value="3" data-umami-event="setPriority" data-umami-event-priority="3">
                    <img th:if="${user.pussyMeter == 0}" src="/img/star_icon-family-03.png">
                    <img th:if="${user.pussyMeter == 1}" src="/img/Fire_Icon-03.png">
                    <img th:if="${user.pussyMeter == 2}" src="/img/mark_icon-aggressive-03.png">
                </button>
                <button onclick="setPriority(2)" type="submit" name="priority" value="2" data-umami-event="setPriority" data-umami-event-priority="2">
                    <img th:if="${user.pussyMeter == 0}" src="/img/star_icon-family-02.png">
                    <img th:if="${user.pussyMeter == 1}" src="/img/Fire_Icon-02.png">
                    <img th:if="${user.pussyMeter == 2}" src="/img/mark_icon-aggressive-02.png">
                </button>
                <button onclick="setPriority(1)" type="submit" name="priority" value="1" data-umami-event="setPriority" data-umami-event-priority="1">
                    <img th:if="${user.pussyMeter == 0}" src="/img/star_icon-family-01.png">
                    <img th:if="${user.pussyMeter == 1}" src="/img/Fire_Icon-01.png">
                    <img th:if="${user.pussyMeter == 2}" src="/img/mark_icon-aggressive-01.png">
                </button>
            </div>

            <label class="dateTime hidden">
                <input type="date" name="maybeDueDate" id="date">
            </label>

            <div class="addTask">
                <input type="text" placeholder="new task" name="description" id="add" required>
                <img onclick="toggleDueDate()" src="/img/Kalendar_Icon-02.png" alt="due date">
            </div>
        </form>
    </footer>

    <script>
        updateWeekProgressbar();
        initTaskEditListener();
        initiPhoneHack();

        setInterval(updateWeekProgressbar, 3600);

        function updateWeekProgressbar() {
            const progressbar = document.querySelector("#week-progressbar");
            const now = new Date();
            const weekProgress = (now.getDay() / 7 + now.getHours() / 24 / 7) * 100;

            progressbar.style.width = weekProgress + "%";
        }

         function handleSubmit(event) {
            event.preventDefault();

            const form = event.target;
            const data = new FormData(form);
            const url = form.action;

            fetch(url, {
                method: 'POST',
                body: data
            }).then(resp => {
                if (resp.redirected && resp.url.indexOf("login") > -1) { // session expired
                    window.location.reload();
                }

                const done = form.elements["done"];
                done.value = done.value === "false" ? "true" : "false";

                const task = form.closest(".task");
                task.dataset.done = task.dataset.done === "true" ? "false" : "true";
            });
        }

        function toggleDueDate(state) {
            const CLASS = "hidden";
            const date = document.querySelector("#date");
            const dateLabel = document.querySelector(".dateTime")
            const classList = dateLabel.classList;

            if (state === undefined) {
                classList.toggle(CLASS);
                if (!classList.contains(CLASS)) {
                    dateLabel.dispatchEvent(new Event("click"));
                    if (document.activeElement !== date) {
                        date.focus();
                        date.showPicker();
                    }
                } else {
                    document.querySelector("#add").focus();
                }
                date.value = "";
            } else if (state === true) {
                classList.remove(CLASS);
            } else {
                classList.add(CLASS);
                date.value = "";
            }
        }

        function initTaskEditListener() {
            document.querySelector("main").addEventListener("click", function (event) {
                if (event.target.tagName !== "P") return;

                let task = event.target.closest(".task");

                if (!task) return;

                edit(task);
            });
        }

        function edit(task) {
            document.querySelector("#add").focus();
            
            const main = document.querySelector("main");
            registerCancel(main);

            const description = task.querySelector("p").innerText;
            const dueDate = task.querySelector(".due").dataset.duedate;
            const priority = task.dataset.priority;

            const form = document.querySelector("footer form");
            setPriority(priority);

            form.action = "/tasks/" + task.dataset.id;
            form.querySelector("input[name='description']").value = description;
            form.querySelector("input[name='maybeDueDate']").value = dueDate;

            if (dueDate) {
                toggleDueDate(true);
            } else {
                toggleDueDate(false);
            }

            function registerCancel(el) {
                el.classList.add("fade");

                el.addEventListener("click", function () {
                    cancelEdit();
                }, {once: true});

                window.onkeydown = function (event) {
                    if (event.key === "Escape") {
                        cancelEdit();
                    }
                }

                function cancelEdit() {
                    location.reload();
                }
            }
        }

         function setPriority(priority) {
             document.querySelector("button[name='priority']").value = priority;

             const buttons = document.querySelectorAll("footer .stars button");
             buttons.forEach(button => {
                 if (button.value == priority) {
                     button.classList.add("active");
                 } else {
                     button.classList.remove("active");
                 }
             });
         }

         function initiPhoneHack() {
             document.querySelector("#add").addEventListener('focusin', () => {
                 adjustSafeAreaInset(0);
             });
             document.addEventListener('focusout', () => {
                 adjustSafeAreaInset();
             });
             function adjustSafeAreaInset(value = 'env(safe-area-inset-bottom)') {
                 document.querySelector("footer").style.paddingBottom = value;
             }
         }

         function toggleDropdown() {
             let dropdown = document.querySelector(".dropdown-content");
             const main = document.querySelector("main");
             const line1 = document.querySelector(".line1");
             const line2 = document.querySelector(".line2");
             const line3 = document.querySelector(".line3");

             registerCancel(main);

             if (dropdown.style.display === "block") {
                 dropdown.style.display = "none";
                 line1.style.transform = "rotate(0)";
                 line2.style.transform = "scaleY(1)";
                 line3.style.transform = "rotate(0)";
             } else {
                 dropdown.style.display = "block";
                 line1.style.transform = "rotate(39deg)";
                 line2.style.transform = "scaleY(0)";
                 line3.style.transform = "rotate(-39deg)";
             }

             function registerCancel(event) {
                 event.addEventListener("click", function () {
                     cancelMenu();
                 }, {once: true});

                 window.onkeydown = function (event) {
                     if (event.key === "Escape") {
                         cancelMenu();
                     }
                 }

                 function cancelMenu() {
                     dropdown.style.display = "none";
                     line1.style.transform = "rotate(0)";
                     line2.style.transform = "scaleY(1)";
                     line3.style.transform = "rotate(0)";
                 }
             }
         }

         function logout() {
             document.querySelector('#logoutForm').submit();
         }
    </script>

</section>
</body>
</html>
