<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TodoZ-main</title>
        <link rel="stylesheet" href="/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    </head>
<script th:inline="javascript">

    var messages = [[${messages}]];

    function rotateArray(arr){
        var nextItem = arr.shift();
        arr.push(nextItem);
        return nextItem
    }

    function showNotification() {

        if (Notification.permission === 'granted') {
            var nextMessage = rotateArray(messages);
            var notification = new Notification(nextMessage.title,  { body: nextMessage.description });
        } else if (Notification.permission !== 'denied') {
            Notification.requestPermission().then(function (permission) {
                if (permission === 'granted') {
                    showNotification();
                }
            });
        }
    }
    setInterval(showNotification,  10000 );

</script>
<body>
<main class="phone-screen">
    <header>
        <div class="link">
            <a th:href="@{/longTerm}"> Long term </a>
        </div>

        <div class="week">
            <p th:text="|Week ${currentWeek.getWeekNumber()}|"></p>
        </div>

        <div class="link2">
            <a th:href="@{/weekReview}"> Week review </a>
        </div>

    </header>

    <section class="taskContainer">
        <div class="task" th:each="task : ${currentWeek.getTasks()}" th:if="${task.isDone() == false}">
            <p class="taskText" th:text="${task.getDescription()}"></p>
            <span class="dueDate" th:text="${task.getRemainingDays()}"></span>
            <form th:action="@{/checked/{id}(id=${task.getId()})}" th:method="POST">
                <input type="hidden" th:name="done" th:value="${!task.isDone()}"/>
                <button th:type="submit">
                    <img th:src="${task.isDone() ? '/img/vector_img_checkedbox.png' : '/img/vector_img_checkbox.png'}" alt="Check Image"/>
                </button>
            </form>
        </div>
        <div class="task" th:each="task : ${currentWeek.getTasks()}" th:if="${task.isDone() == true}">
            <p class="taskText" th:text="${task.getDescription()}"></p>
            <span class="dueDate" th:text="${task.getRemainingDays()}"></span>
            <form th:action="@{/checked/{id}(id=${task.getId()})}" th:method="POST">
                <input type="hidden" th:name="done" th:value="${!task.isDone()}"/>
                <button th:type="submit">
                    <img th:src="${task.isDone() ? '/img/vector_img_checkedbox.png' : '/img/vector_img_checkbox.png'}" alt="Check Image"/>
                </button>
            </form>
        </div>
    </section>

    <section class="form-section">
    <form method="post" th:action="@{/add}">
        <div class="stars">
            <button type="submit" name="priority" value="4"><img src='/img/Star.png'/></button>
            <button type="submit" name="priority" value="3"><img src='/img/Star.png'/></button>
            <button type="submit" name="priority" value="2"><img src='/img/Star.png'/></button>
            <button type="submit" name="priority" value="1"><img src='/img/Star.png'/></button>
        </div>

        <div class="dateTime hidden">
            <input type="date" name="maybeDueDate" id="date">
        </div>

        <div class="addTask">
            <input type="text" placeholder="new task" name="description" id="add" required>
            <img onclick="toggleDueDate()" src="/img/Clock_Yellow.png">
        </div>
    </form>
    </section>

    <script>
        function toggleDueDate() {
            document.querySelector(".dateTime").classList.toggle("hidden");
            document.querySelector("#date").value = "";
        }
    </script>

</main>
</body>
</html>