<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Left Behind</title>
    <link rel="stylesheet" href="/new.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta th:replace="fragments.html :: head-metadata">
</head>
<body>
<section class="app left-behind">
    <header>
        <a th:href="@{/}"><</a>
        <h2>Left behind tasks</h2>
    </header>

    <main>
        <div class="taskContainer" th:unless="${leftBehind.isEmpty()}" th:each="task : ${leftBehind}" >
            <div class="task" th:object="${task}"
                 th:data-priority="*{priority}"
                 th:data-id="*{id}" th:data-done="*{done}">
                <span th:classappend="|prio${task.getPriority()}|"></span>
                <p th:text="*{description}"></p>
                <form method="post" th:action="|/tasks/re-add/${task.id}|">
                    <button class="img">
                        <img class="icon-unchecked" src="/img/week_review_icon_add.svg" alt="re-add">
                    </button>
                </form>
            </div>
            <div th:replace="fragments.html :: delete-form(
            taskId=${task.id},
            action='/tasks/delete/' + ${task.id},
            imgSrc='/img/delete_icon.svg')">
            </div>
        </div>
        <div th:replace="fragments.html :: task-placeholder(
            isEmpty=${leftBehind.isEmpty()},
            message='All your left behind tasks at your display... <br> Oops you don´t have any...',
            imgSrc='/img/cat_pm_' + ${user.pussyMeter} + '.svg')">
        </div>
    </main>
</section>
</body>
</html>