<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Left Behind</title>
    <link rel="stylesheet" href="/new.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script async src="https://umami.petabyte.farm/script.js"
            data-website-id="0076ce35-dec8-4042-ba76-0dc4b52922b0"></script>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/iconx32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/touch-icon.png">
    <link rel="manifest" href="/manifest.json">
</head>
<body>
<section class="app left-behind">
    <header>
        <a th:href="@{/}"><</a>
        <h2>Left behind tasks</h2>
    </header>

    <main>
        <div th:unless="${leftBehind.isEmpty()}" class="task" th:each="task : ${leftBehind}" th:object="${task}"
             th:data-priority="*{priority}"
             th:data-id="*{id}" th:data-done="*{done}">
            <span th:classappend="|prio${task.getPriority()}|"></span>
            <p th:text="*{description}"></p>
            <form method="post" th:action="|/tasks/re-add/${task.id}|">
                <button class="img"><img class="icon-unchecked" src="/img/week_review_icon_add.svg" alt="re-add">
                </button>
            </form>
        </div>

        <div th:if="${leftBehind.isEmpty()}" class="NoTaskPlaceholder">
            <p>All your left behind tasks at your display... <br> Oops you don´t have any...</p>
            <img th:src="|/img/cat_pm_${user.pussyMeter}.svg|" alt="cat">
        </div>
    </main>
</section>
</body>
</html>