<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDoZ-login</title>
  <link rel="stylesheet" href="/loginStyle.css">
</head>
<body>
<main class="phone-screen">
  <header>
    <h1> ToDoZmrd</h1>
    <p> Do your task, bitch!</p>
  </header>

  <section class="form-section">
  <form th:action="@{/}">
    <input type="text" name="username" placeholder="name">
    <input type="password" name="password" placeholder="password">
    <button type="submit"> <img src='/img/Login_button.png'/> </button>
  </form>
  </section>
</main>
</body>
</html>