<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDoZ-login</title>
    <link rel="stylesheet" href="/new.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script async src="https://umami.petabyte.farm/script.js" data-website-id="0076ce35-dec8-4042-ba76-0dc4b52922b0"></script>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/iconx32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/touch-icon.png">
    <link rel="manifest" href="/manifest.json">
</head>
<body>
<section class="app login">
    <main>
        <h1>ToDoZ*</h1>
        <p class="note">Do your task or else!</p>

        <form th:action="@{/login}" method="post">
            <p th:if="${param.error}">Invalid username and/or password.</p>
            <p th:if="${param.logout}">You have been logged out.</p>

            <label>
                <input type="text" name="username" placeholder="email or username" autofocus required autocapitalize="none">
            </label>

            <label class="password">
                <input type="password" name="password" id="password" placeholder="password" required>
                <img src="/img/eye_icon_todo-03.png" id="showPassword" onclick="togglePasswordVisibility()" alt="hide icon">
            </label>

            <button class="cta" type="submit" value="Log In">&gt;&gt;</button>
        </form>
        <p><a th:href="@{/register}">Sign-up</a></p>
    </main>
</section>
<script>
    setInterval(changeComment, 4666);
    let counter = 0;

    function changeComment() {
        counter++;
        const note = document.querySelector(".note");

        if (counter % 4 === 0) {
            note.innerText = "Do your task or else!"
        }
        else if (counter % 4 === 1) {
            note.innerText = "Not great, not terrible"
        }
        else if (counter % 4 === 2) {
            note.innerText = "Mediocre app for mediocre people"
        }
        else if (counter % 4 === 3) {
            note.innerText = "OMG, sign-up already!"
        }
    }

    function togglePasswordVisibility() {
        const password = document.querySelector("#password");
        const img = document.querySelector("#showPassword")

        if (password.type === "password") {
            password.type = "text";
            img.src = "/img/eye_icon_todo-02.png"
        }
        else {
            password.type = "password";
            img.src = "/img/eye_icon_todo-03.png"
        }
    }
</script>
</body>
</html>
