<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDoZ-login</title>
  <link rel="stylesheet" href="/loginStyle.css">
</head>
<body>
<main class="phone-screen">
  <header>
    <h1> ToDoZmrd</h1>
    <p> Do your task, bitch!</p>
  </header>

  <section class="form-section">
    <div th:if="${param.error}">Invalid username and password.</div>
    <div th:if="${param.logout}">You have been logged out.</div>
  <form th:action="@{/login}" method="post">
    <label>
      <input type="text" name="username" placeholder="name">
    </label>
    <label>
      <input type="password" name="password" placeholder="password">
    </label>
    <label>
      <button type="submit" value="Log In"> <img src='/img/Login_button.png' alt="loginButton"/> </button>
    </label>
  </form>
  </section>
</main>
</body>
</html>