<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upcoming tasks</title>
    <link rel="stylesheet" href="/new.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script async src="https://umami.petabyte.farm/script.js"
            data-website-id="0076ce35-dec8-4042-ba76-0dc4b52922b0"></script>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/iconx32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/touch-icon.png">
    <link rel="manifest" href="/manifest.json">
</head>
<body>
<section class="app">
    <header>
        <a th:href="@{/}"><</a>
        <h2>Upcoming tasks</h2>
    </header>

    <main>
        <div th:unless="${longTerm.isEmpty()}" class="task" th:each="task : ${longTerm}" th:object="${task}">
            <span th:classappend="|prio${task.getPriority()}|"></span>
            <p th:text="*{getDescription()}"></p>
            <span class="due" th:text="|*{getDueDateDayOfWeek()} *{getDueDateFormat()}|"></span>
        </div>

        <div th:if="${longTerm.isEmpty()}" class="NoTaskPlaceholder">
            <p>Here will be all your planned tasks... <br> in the meantime enjoy this bouncing bush...</p>
            <img th:src="|/img/cat_pm_${user.pussyMeter}.png|" alt="cat">
        </div>
    </main>
</section>
</body>
</html>