<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"><head>
    <meta charset="UTF-8">
    <title>Long term</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<main class="phone-screen">
    <header>
        <div class="link">
            <a th:href="@{/}"> < </a>
        </div>

        <div class="weekReviewTitle">
            <p>Long term tasks</p>
        </div>
    </header>

    <section class="taskContainer">
        <div class="task" th:each="task : ${longTerm}" th:object="${task}">
            <p class="taskText" th:text="*{getDescription()}"></p>
            <p class="dueDate" th:text="|*{getDueDateDayOfWeek()} *{getDueDateFormat()}|"></p>
        </div>
    </section>

</main>
</body>
</html>