<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Long term</title>
    <link rel="stylesheet" href="/new.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>
<body>
<section class="app">
    <header>
        <a th:href="@{/}"> < </a>
        <h2>Long term tasks</h2>
    </header>

    <main>
        <div class="task" th:each="task : ${longTerm}" th:object="${task}">
            <span th:classappend="|prio${task.getPriority()}|"></span>
            <p th:text="*{getDescription()}"></p>
            <span class="due" th:text="|*{getDueDateDayOfWeek()} *{getDueDateFormat()}|"></span>
        </div>
    </main>

</section>
</body>
</html>