<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>New password</title>
    <link rel="stylesheet" href="/new_new.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script async src="https://umami.petabyte.farm/script.js"
            data-website-id="0076ce35-dec8-4042-ba76-0dc4b52922b0"></script>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/iconx32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/touch-icon.png">
    <link rel="manifest" href="/manifest.json">
</head>
<body>
<section class="app register">
    <main>
        <h1 id="title">ToDoZ*</h1>
        <p class="note">New password</p>

        <p th:if="${doesNotMatch} == true">The inputs must match! Try again!</p>
        <p th:if="${invalid} == true" th:text="|Too short! ${minimalPasswordLength} characters minimum!|"></p>
        <p id="placeholder"></p>

        <form method="post" th:action="|/newPassword|">
            <label>
                <input type="hidden" name="userId" th:value="${userId}">
            </label>
            <label>
                <input type="password" name="password" id="password" placeholder="new password">
            </label>
            <label>
                <input type="password" name="confirmation" id="confirmation" placeholder="new password again">
            </label>
            <button>Reset password</button>
        </form>
    </main>
</section>
<script th:inline="javascript">
    /*<![CDATA[*/
    const MINIMAL_PASSWORD_LENGTH = /*[[@{${minimalPasswordLength}}]]*/ 0;
    /*]]>*/

    function isValidPassword() {
        let password = document.querySelector("#password").value;
        let confirmation = document.querySelector("#confirmation").value;
        let placeholder = document.querySelector("#placeholder");

        if (password !== confirmation) {
            placeholder.innerHTML = "The inputs must match! Try again!";
            return false;
        } else if (password.length < MINIMAL_PASSWORD_LENGTH) {
          placeholder.innerHTML = `Too short! ${MINIMAL_PASSWORD_LENGTH} characters minimum!`;
          return false;
        }
        else {
          return true;
        }
    }

    document.addEventListener("submit", function (event) {
        if (!isValidPassword()) {
          event.preventDefault();
        }
    });
</script>
</body>
</html>