<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Planned tasks</title>
    <link rel="stylesheet" href="/new.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta th:replace="fragments.html :: head-metadata">
</head>
<body>
<section class="app">
    <header>
        <a th:href="@{/}"><</a>
        <h2>Planned tasks</h2>
    </header>

    <main>
        <div th:unless="${planned.isEmpty()}" th:each="year : ${planned.keySet().stream().sorted().toList()}">
            <div class="year"><p th:text="${year}"></p></div>

            <div th:each="week : ${planned.get(year).keySet().stream().sorted().toList()}">
                <div class="week"><p th:text="|Week ${week == 53 ? 1 : week}|"></p></div>

                <div class="taskContainer" th:each="task : ${planned.get(year).get(week)}">
                    <div class="task" th:object="${task}" th:data-priority="*{priority}" th:data-id="*{id}">
                        <span th:classappend="|prio${task.getPriority()}|"></span>
                        <p th:text="*{getDescription()}"></p>
                        <span class="due" th:text="|*{getDueDateDayOfWeek()} *{getDueDateFormat()}|"
                              th:data-duedate="*{dueDateDate}"></span>
                    </div>

                    <div th:replace="fragments.html :: delete-form(
                     taskId=${task.id},
                     action='/tasks/leaveBehind/' + ${task.id},
                     imgSrc='/img/leaveBehind_icon.svg')">
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments.html :: task-placeholder(
            isEmpty=${planned.isEmpty()},
            message='Here will be all your planned tasks... <br> in the meantime enjoy this ball...',
            imgSrc='/img/cat_pm_' + ${user.pussyMeter} + '.svg')">
        </div>
        <div th:unless="${planned.isEmpty()}" class="plannedPlaceholder">
            <p>The future is only<br> in your hands...</p>
        </div>
    </main>

    <footer>
        <div th:replace="fragments.html :: red-fadeout('Task added to \&#39;Left behind\&#39;', ${leftBehindTask})"></div>
        <div id="plannedFooter">
            <form method="post" th:action="@{/tasks/add}">
                <button type="submit" name="priority" value="4" class="hidden"></button>

                <label class="date-input">
                    <img src="/img/calendar_icon.svg" alt="due date">
                    <input type="date" name="maybeDueDate" id="date">
                </label>

                <div class="addTask">
                    <input type="text" placeholder="new task" name="description" id="add" required autofocus
                           autocomplete="off">
                </div>
                <meta th:replace="fragments.html :: buttons-priority">
            </form>
        </div>
    </footer>
</section>
<script>
    initTaskEditListener();

    function initTaskEditListener() {
        document.querySelector("main").addEventListener("click", function (event) {
            if (event.target.tagName !== "P") return;

            let task = event.target.closest(".task");

            if (!task) return;

            edit(task);
        });
    }

    function edit(task) {
        document.querySelector("#plannedFooter").style.display = "block";
        document.querySelector("#add").focus();

        const main = document.querySelector("main");
        registerCancel(main);

        const description = task.querySelector("p").innerText;
        const dueDate = task.querySelector(".due").dataset.duedate;
        const priority = task.dataset.priority;

        const form = document.querySelector("footer form");
        setPriority(priority);

        form.action = "/tasks/" + task.dataset.id;
        form.querySelector("input[name='description']").value = description;
        form.querySelector("input[name='maybeDueDate']").value = dueDate;

        function registerCancel(el) {
            el.classList.add("fade");

            el.addEventListener("click", function () {
                cancelEdit();
            }, {once: true});

            window.onkeydown = function (event) {
                if (event.key === "Escape") {
                    cancelEdit();
                }
            }

            function cancelEdit() {
                location.reload();
            }
        }
    }

    function setPriority(priority) {
        document.querySelector("button[name='priority']").value = priority;

        const buttons = document.querySelectorAll("footer .stars button");
        buttons.forEach(button => {
            if (button.value == priority) {
                button.classList.add("active");
            } else {
                button.classList.remove("active");
            }
        });
    }
</script>
<script src="/js/fadeout.js"></script>
</body>
</html>