<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDoZ-pussyMeter</title>
    <link rel="stylesheet" href="/new.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta th:replace="fragments.html :: head-metadata">
</head>
<body>
<section class="app pussyMeter">
    <header class="pussyBack">
        <a class="pussyBack" th:href="@{/}"><</a>
    </header>
    <main>
        <h1 class="pussyHeader">Pussy meter</h1>
        <p class="note">Choose how big of a pussy are you!</p>

        <form th:action="@{/changeMeter}" method="post" th:object="${user}">
            <div class="pussySliderIcons">
                <svg id="currentIcon" th:insert="svgFragments::|prio4_pm_*{pussyMeter}|" style="display:inline-block;"/>
                <svg th:insert="svgFragments::prio4_pm_0" id="starIcon" style="display:none;"/>
                <svg th:insert="svgFragments::prio4_pm_1" id="fireIcon" style="display:none;"/>
                <svg th:insert="svgFragments::prio4_pm_2" id="skullIcon" style="display:none;"/>
            </div>
            <label class="slideContainer">
                <span th:if="*{pussyMeter == 0}">Friendly</span>
                <span th:if="*{pussyMeter == 1}">Neutral</span>
                <span th:if="*{pussyMeter == 2}">Aggressive</span>
                <input type="range" step="1" max="2" class="slider" name="pussyMeter"
                       th:field="*{pussyMeter}" oninput="updateText()">
            </label>
            <button class="cta" type="submit">&gt;&gt;</button>
        </form>
    </main>
</section>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const rootElement = document.documentElement;
        const theme = localStorage.getItem("theme");

        theme && rootElement.classList.add(theme);

        const isDarkMode = rootElement.classList.contains("dark");

        if (!isDarkMode && theme === "dark") {
            rootElement.classList.add("dark");
        }

        if (isDarkMode) {
            localStorage.setItem("theme", "dark");
        } else {
            localStorage.removeItem("theme");
        }
    });

    const slider = document.getElementById("pussySlider");
    const output = document.getElementById("pussyLabel");
    const starIcon = document.getElementById("starIcon");
    const fireIcon = document.getElementById("fireIcon");
    const skullIcon = document.getElementById("skullIcon");
    const currentIcon = document.getElementById("currentIcon");
    function updateText() {
        const slider = document.querySelector(".slider");
        const text = document.querySelector(".slideContainer span");
        const icon = document.querySelector(".pussySliderIcon");

        if (slider.value == 0) {
            text.innerText = "Friendly"
            starIcon.style.display="inline-block";
            fireIcon.style.display="none";
            skullIcon.style.display="none";
            currentIcon.style.display="none";
        } else if (slider.value == 1) {
            text.innerText = "Neutral"
            starIcon.style.display="none";
            fireIcon.style.display="inline-block";
            skullIcon.style.display="none";
            currentIcon.style.display="none";
        } else {
            text.innerText = "Aggressive"
            starIcon.style.display="none";
            fireIcon.style.display="none";
            skullIcon.style.display="inline-block";
            currentIcon.style.display="none";
        }
    }
</script>
</html>