<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDoZ-pussyMeter</title>
    <link rel="stylesheet" href="/new.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>
<body>
<section class="app pussyMeter">
    <main>
        <h1>Pussy meter</h1>
        <p class="note">Choose how big of a pussy are you!</p>
        <form th:action="@{/changeMeter}" method="post" th:object="${user}">
            <label class="slideContainer">
                <span id="pussyLabel"></span>
                <input type="range" step="1" max="2" class="slider" id="myRange" name="pussyMeter" th:field="*{pussyMeter}">
            </label>
            <button class="ctm" type="submit">&gt;&gt;</button>
        </form>
    </main>
</section>
</body>
<script>
    const slider = document.getElementById("myRange");
    const output = document.getElementById("pussyLabel");

    output.innerHTML = slider.innerHTML;

    slider.oninput = function() {
        if (this.value <= 0) {
            output.innerText = "Friendly";
        } else if (this.value == 1) {
            output.innerText = "Neutral";
        } else {
            output.innerText = "Aggressive";
        }
    }

    slider.oninput();
</script>
</html>