<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDoZ-pussyMeter</title>
    <link rel="stylesheet" href="/new.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script async src="https://umami.petabyte.farm/script.js" data-website-id="0076ce35-dec8-4042-ba76-0dc4b52922b0"></script>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/iconx32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/touch-icon.png">
    <link rel="manifest" href="/manifest.json">
</head>
<body>
<section class="app pussyMeter">
    <header class="pussyBack">
        <a class="pussyBack" th:href="@{/}"><</a>
    </header>
    <main>
        <h1 class="pussyHeader">Pussy meter</h1>
        <p class="note">Choose how big of a pussy are you!</p>

        <form th:action="@{/changeMeter}" method="post" th:object="${user}">
            <div class="pussySliderIcons">
                <img src="/img/star_icon-family-03.png" id="starIcon">
                <img src="/img/Fire_Icon-02.png" id="fireIcon">
                <img src="/img/skull_icon-05.png" id="skullIcon">
            </div>
            <label class="slideContainer">
                <span id="pussyLabel"></span>
                <input type="range" step="1" max="2" class="slider" id="myRange" name="pussyMeter" th:field="*{pussyMeter}">
            </label>
            <button class="ctm" type="submit">&gt;&gt;</button>
        </form>
    </main>
</section>
</body>
<script>
    const slider = document.getElementById("myRange");
    const output = document.getElementById("pussyLabel");
    const starIcon = document.getElementById("starIcon");
    const fireIcon = document.getElementById("fireIcon");
    const skullIcon = document.getElementById("skullIcon");

    output.innerHTML = slider.innerHTML;

    slider.oninput = function() {
        if (this.value <= 0) {
            output.innerText = "Friendly";
            starIcon.style.display = "inline";
            fireIcon.style.display = "none";
            skullIcon.style.display = "none";
        } else if (this.value == 1) {
            output.innerText = "Neutral";
            fireIcon.style.display = "inline";
            starIcon.style.display = "none";
            skullIcon.style.display = "none";
        } else {
            output.innerText = "Aggressive";
            skullIcon.style.display = "inline";
            starIcon.style.display = "none";
            fireIcon.style.display = "none";
        }
    }

    slider.oninput();
</script>
</html>