<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/new.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>
<script th:inline="javascript">

    var messages = [[${messages}]];

    function urlB64ToUint8Array(base64String) {
        const padding = '='.repeat((4 - base64String.length % 4) % 4);
        const base64 = (base64String + padding)
            .replace(/\-/g, '+')
            .replace(/_/g, '/');

        const rawData = window.atob(base64);
        const outputArray = new Uint8Array(rawData.length);

        for (let i = 0; i < rawData.length; ++i) {
            outputArray[i] = rawData.charCodeAt(i);
        }

        return outputArray;
    }

    const publicKeyBase64 = 'BKVvKfX0nn7uwsAgdEpBW_XEF1rOcMKRaQEheDzqcBusYqXO8Xdd6coDJrO364yuiWIXU-8xYEQ4PpzFLRsl-9c';
    const serverKey = urlB64ToUint8Array(publicKeyBase64);


    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/js/service-worker.js')
            .then(function(registration) {
                console.log('Service Worker registered successfully:', registration);
                return registration;
            })
            .catch((error) => {
                console.error('Error registering Service Worker:', error);
            })
            .then(function(registration) {

                return registration.pushManager.subscribe({
                    userVisibleOnly: true,
                    applicationServerKey: serverKey,
                });
            })
            .then(function(subscription) {
                window.bertasStash = subscription;
                console.log('Push Subscription successful:', subscription);

                fetch('/subscribe', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(subscription),
                });
                fetch('/send-notification', {
                    method: 'GET',
                });
            })
            .catch(function(error) {
                console.error('Error setting up Service Worker:', error);
            });
    }

</script>
<body>
<section class="app register">
    <main>
        <h1>ToDoZmrd</h1>
        <p class="note">Register your ass!</p>

        <p th:if="${userExists} == true " th:text="User with this username exists"></p>
        <form method="post">
            <label>
                <input name="username" type="text" placeholder="username">
            </label>
            <label>
                <input name="password" type="password" minlength="5" placeholder="password">
            </label>
            <button class="cta" type="submit">Sign-up</button>
        </form>
        <p><a th:href="@{/login}">Log in</a></p>
    </main>
</section>
</body>
</html>