<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDoZ-Sign-up</title>
    <link rel="stylesheet" href="/new.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta th:replace="fragments.html :: head-metadata">
</head>
<body>
<section class="app register">
    <main>
        <h1 id="title">ToDoZmrd</h1>
        <p class="note">Register your ass!</p>

        <form th:action="|/register|" method="post">

            <div class="aboveSlider" style="display: flex; justify-content: center; line-height: 1.7;}">
                <span>Aggressive</span>
                <svg class="pm_2_Register" th:insert="~{svgFragments::prio4_pm_2}" style="display:inline-block;"/>
                <svg class="pm_1_Register" th:insert="~{svgFragments::prio4_pm_1}" style="display:none;"/>
                <svg class="pm_0_Register" th:insert="~{svgFragments::prio4_pm_0}" style="display:none;"/>
            </div>
            <label style="margin-top: 0.5rem">
                <input type="range" name="pussyMeter" step="1" max="2" class="slider" value="2"
                       oninput="updateTitle()">
            </label>

            <label>
                <input name="username" type="text" id="email" placeholder="email" autofocus autocapitalize="none">
            </label>

            <label class="password">
                <input name="password" type="password" id="password" placeholder="password">
                <svg th:insert="~{svgFragments::eye_icon_open}" class="hidePassword" style="display:none;" onclick="togglePasswordVisibility()"/>
                <svg th:insert="~{svgFragments::eye_icon_closed}" class="showPassword" onclick="togglePasswordVisibility()"/>
            </label>

            <p class="registerMessage" th:if="${userExists} == true">User with this email exists</p>
            <p class="registerMessage" th:if="${invalidCredentials} == true">Invalid credentials!</p>
            <p id="frontendValidation"></p>

            <button class="cta" type="submit">Sign-up</button>
        </form>
        <p><a th:href="@{/login}">Log in</a></p>
    </main>
</section>

<script th:inline="javascript">
    /*<![CDATA[*/
    const MINIMAL_PASSWORD_LENGTH = /*[[@{${minimalPasswordLength}}]]*/ 0;
    /*]]>*/

    function updateTitle() {
        const range = document.querySelector(".slider");
        const title = document.querySelector("#title");
        const subtitle = document.querySelector("#title + p");
        const pussyLabel = document.querySelector(".aboveSlider span");
        const pm_0 = document.querySelector(".pm_0_Register");
        const pm_1 = document.querySelector(".pm_1_Register");
        const pm_2 = document.querySelector(".pm_2_Register");
        const icons = [pm_0, pm_1, pm_2];

        icons.forEach(icon => icon.style.display = "none")

        if (range.value == 0) {
            title.innerText = "ToDoZlatíčko";
            subtitle.innerText = "Let me help you with your tasks";
            pussyLabel.innerText = "Friendly";
            pm_0.style.display = "";
        } else if (range.value == 1) {
            title.innerText = "ToDoZápisník";
            subtitle.innerText = "Register your account";
            pussyLabel.innerText = "Neutral";
            pm_1.style.display = "";
        } else {
            title.innerText = "ToDoZmrd";
            subtitle.innerText = "Deity, help me with this clown!";
            pussyLabel.innerText = "Aggressive";
            pm_2.style.display = "";
        }
    }

    function validCredentials() {
        let password = document.querySelector("#password").value;
        let email = document.querySelector("#email").value;
        const frontendValidation = document.querySelector("#frontendValidation");
        const validRegex = /^(?=.{1,64}@)[A-Za-z0-9_-]+(\.[A-Za-z0-9_-]+)*@[^-][A-Za-z0-9-]+(\.[A-Za-z0-9-]+)*(\.[A-Za-z]{2,})$/;
        const range = document.querySelector(".slider").value;
        document.querySelector(".registerMessage").style.display = "none";

        if (!email.match(validRegex)) {
            if (range == 2) {
                frontendValidation.innerHTML = "Is this an email or did you just vomit?";
            } else if (range == 1) {
                frontendValidation.innerHTML = "Invalid email address."
            } else {
                frontendValidation.innerHTML = "Oops! Mind checking the email again?"
            }

            return false;
        } else if (password.length < MINIMAL_PASSWORD_LENGTH) {
            if (range == 2) {
                frontendValidation.innerHTML = `Too short! That's what she said!`;
            } else if (range == 1) {
                frontendValidation.innerHTML = `Invalid password! ${MINIMAL_PASSWORD_LENGTH}+ characters.`;
            } else {
                frontendValidation.innerHTML = `${MINIMAL_PASSWORD_LENGTH} characters or more. Try again champ!`;
            }

            return false;
        } else {
            return true;
        }
    }

    document.addEventListener("submit", function (event) {
        if (!validCredentials()) {
            event.preventDefault();
        }
    });
</script>
</body>
</html>
