<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
    <link rel="stylesheet" href="/new_new.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script async src="https://umami.petabyte.farm/script.js" data-website-id="0076ce35-dec8-4042-ba76-0dc4b52922b0"></script>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/iconx32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/touch-icon.png">
    <link rel="manifest" href="/manifest.json">
</head>
<body>
<section class="app register">
    <main>
        <h1 id="title">ToDoZ*</h1>
        <p class="note">Reset password</p>

        <p th:if="${userNotFound} == true">You don't even remember your email?!</p>
        <p th:if="${tokenNotFound} == true">Nice try! Invalid token</p>
        <p th:if="${tokenExpired} == true">Too slow! Token expired</p>
        <p th:unless="${userNotFound} == true or ${tokenNotFound} == true or ${tokenExpired} == true or ${sent} == true">The email you have signed-up with:</p>

        <form method="post" th:action="|/resetPassword|">
            <label>
                <input type="email" name="email">
            </label>
            <p th:if="${sent} == true">Check your mail for reset link</p>
            <button th:unless="${sent} == true" class="cta">Send email</button>
        </form>
    </main>
    <a th:href="|/|" style="margin-bottom: 5rem">@GetMapping("/out")</a>
</section>
</body>
</html>