<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
    <link rel="stylesheet" href="/new.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta th:replace="fragments.html :: head-metadata">
</head>
<body>
<section class="app register">
    <main>
        <h1 id="title">ToDoZ*</h1>
        <p class="note">Reset password</p>

        <p th:if="${userNotFound} == true">You don't even remember your email?!</p>
        <p th:if="${tokenNotFound} == true">Nice try! Invalid token</p>
        <p th:if="${tokenExpired} == true">Too slow! Token expired</p>
        <p th:unless="${userNotFound} == true or ${tokenNotFound} == true or ${tokenExpired} == true or ${sent} == true">The email you have signed-up with:</p>

        <form method="post" th:action="|/resetPassword|">
            <label>
                <input type="email" name="email">
            </label>
            <p th:if="${sent} == true">Check your mail for reset link</p>
            <button th:unless="${sent} == true" class="cta">Send email</button>
        </form>
    </main>
    <a th:href="|/|" style="margin-bottom: 5rem">@GetMapping("/out")</a>
</section>
</body>
</html>