<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">
        <label>
            1
            <input type="checkbox" class="toDelegate" onclick="updateButton()" value="1" name="numbers">
        </label>
        <label>
            2
            <input type="checkbox" class="toDelegate" onclick="updateButton()" value="2" name="numbers">
        </label>
        <label>
            3
            <input type="checkbox" class="toDelegate" onclick="updateButton()" value="3" name="numbers">
        </label>
        <label>
            4
            <input type="checkbox" class="toDelegate" onclick="updateButton()" value="4" name="numbers">
        </label>
        <button type="submit" id="submitButton">SUBMIT</button>
    </form>

    <p th:each="task : ${missedTasks}" th:text="${task.description}"></p>

    <script>
        function updateButton() {
            const checkedTasks = document.querySelectorAll(".toDelegate:checked");
            document.getElementById("submitButton")
                .textContent = `Start week with ${checkedTasks.length} task${checkedTasks.length === 1 ? '' : 's'}`;
        }
    </script>
</body>
</html>