<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">
        <label>
            1
            <input type="checkbox" value="1" name="numbers">
        </label>
        <label>
            2
            <input type="checkbox" value="2" name="numbers">
        </label>
        <label>
            3
            <input type="checkbox" value="3" name="numbers">
        </label>
        <label>
            4
            <input type="checkbox" value="4" name="numbers">
        </label>
        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>