<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"><head>
    <meta charset="UTF-8">
    <title>Week review</title>
    <link rel="stylesheet" href="/new.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>
<body>

<section class="app">

    <header>
        <a th:href="@{/}">&lt;</a>
        <h2 th:text="|Week ${currentWeek.getWeekNumber()} review|" />
    </header>

    <main>
        <div class="weekSummary">
            <h1 th:style="'color: red'" th:text="|${currentWeek.getDonePercentage()}%|" th:if="${currentWeek.getDonePercentage() >= 0 && currentWeek.getDonePercentage() <= 50}"></h1>
            <h1 th:style="'color: orange'" th:text="|${currentWeek.getDonePercentage()}%|" th:if="${currentWeek.getDonePercentage() > 50 && currentWeek.getDonePercentage() <= 75}"></h1>
            <h1 th:style="'color: green'" th:text="|${currentWeek.getDonePercentage()}%|" th:if="${currentWeek.getDonePercentage() > 75}"></h1>

            <p class="note">Tasks are finished</p>
        </div>

        <div class="task" th:each="task : ${upcomingTasks}" >
            <span th:classappend="|prio${task.getPriority()}|"></span>
            <p class="taskText" th:text="${task.getDescription()}"></p>
        </div>

        <div class="task" th:each="task : ${currentWeek.getTasks()}" >
            <span th:classappend="|prio${task.getPriority()}|"></span>
            <p class="taskText" th:text="${task.getDescription()}"></p>
            <span th:if="${task.isDone()}"><img src="/img/vector_img_checkmark-09.png"></span>
        </div>

        <form action="/createNewWeek" method="post">
            <button class="cta" type="submit" th:text="|Start new week with ${howManyTasks} tasks|"></button>
        </form>
        <p class="note">You are crushing it!</p>
    </main>

</section>

</body>
</html>