<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"><head>
    <meta charset="UTF-8">
    <title>Week review</title>
    <link rel="stylesheet" href="/styleWeekReview.css">
</head>
<body>

<main class="phone-screen">

    <header>
        <a th:href="@{/}"> < </a>
        <p> Week review</p>
    </header>

    <section class="taskContainer">
        <div class="weekSummary">
            <p th:text="|Week ${currentWeek.getWeekNumber()}|"></p>
            <div class="percentage">
                <h1 th:style="'color: red'" th:text="|${currentWeek.getDonePercentage()}%|" th:if="${currentWeek.getDonePercentage() >= 0 && currentWeek.getDonePercentage() <= 50}"></h1>
                <h1 th:style="'color: orange'" th:text="|${currentWeek.getDonePercentage()}%|" th:if="${currentWeek.getDonePercentage() > 50 && currentWeek.getDonePercentage() <= 75}"></h1>
                <h1 th:style="'color: green'" th:text="|${currentWeek.getDonePercentage()}%|" th:if="${currentWeek.getDonePercentage() > 75}"></h1>
            </div>
            <p>Tasks are finished</p>
            <button>Add tasks to new week!</button>
        </div>

        <div class="task" th:each="task : ${upcomingTasks}" >
            <p class="taskText" th:text="${task.getDescription()}"></p>
        </div>

        <div class="task" th:each="task : ${currentWeek.getTasks()}" >
            <p class="taskText" th:text="${task.getDescription()}"></p>
            <span th:if="${task.isDone()}"><img src="/img/vector_img_checkmark-09.png"></span>
        </div>

        <form action="/createNewWeek" method="post">
            <button type="submit" th:text="|Start new week with ${howManyTasks} tasks|"></button>
        </form>
        <p id="motivation">You are crushing it!</p>
    </section>

</main>

</body>
</html>