<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Week review</title>
    <link rel="stylesheet" href="/new.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta th:replace="fragments.html :: head-metadata">
</head>
<body>
<section class="app week-review">
    <main>
        <h2 class="reviewTitle" th:text="${user.getText('week_review_number', previousWeek.getWeekNumberNumber())}"></h2>

        <div class="weekSummary">
            <table class="area-chart">
                <tr th:each="day, iterStat : ${graphData}" th:object="${day}" th:unless="${iterStat.index > 5}">
                    <td th:each="value : ${day}" th:style="|--start:${value}; --end:${graphData.get(iterStat.index + 1).get(valueStat.index)};|"></td>
                </tr>
            </table>

            <div class="weekdays">
                <span>Su</span>
                <span>Mo</span>
                <span>Tu</span>
                <span>We</span>
                <span>Th</span>
                <span>Fr</span>
                <span>Sa</span>
            </div>
            <p th:text="${user.getText('week_review_results')}" style="margin-top: 1.5rem"></p>
                <strong th:text="${user.getText('week_review_completed_tasks', previousWeek.getDoneCount())}"><br/></strong>
            <p th:if="|${previousWeek.getDoneCount() > -1}|" style="font-size: 13px; padding-top: 0;">
                <svg class="imgReview" th:insert="~{svgFragments::|prio1_pm_${user.pussyMeter}|}"/>: <span th:text="|${previousWeek.getDoneTasksByPriority(1)}|"/> &frasl; <span th:text="|${previousWeek.getTasksByPriority(1).size()}|" />
                <svg class="imgReview" th:insert="~{svgFragments::|prio2_pm_${user.pussyMeter}|}"/>: <span th:text="|${previousWeek.getDoneTasksByPriority(2)}|"/> &frasl; <span th:text="|${previousWeek.getTasksByPriority(2).size()}|" />
                <svg class="imgReview" th:insert="~{svgFragments::|prio3_pm_${user.pussyMeter}|}"/>: <span th:text="|${previousWeek.getDoneTasksByPriority(3)}|"/> &frasl; <span th:text="|${previousWeek.getTasksByPriority(3).size()}|" />
                <svg class="imgReview" th:insert="~{svgFragments::|prio4_pm_${user.pussyMeter}|}"/>: <span th:text="|${previousWeek.getDoneTasksByPriority(4)}|"/> &frasl; <span th:text="|${previousWeek.getTasksByPriority(4).size()}|" />
            </p>
            <div class="weekNote" >
                <p th:utext="${user.getText('week_review_planning', currentWeekNumber)}"></p>
                <p th:if="${upcomingTasks.size() > 0}" th:text="${user.getText('week_review_planned_tasks_info')}"></p>
            </div>
        </div>

        <form th:action="@{/startNewWeek}" th:method="post">
            <div class="task" th:each="task : ${upcomingTasks}" th:data-done="${task.done}">
                <span th:classappend="|prio${task.getPriority()}|"></span>
                <span class="taskStatus">
                    <svg th:insert="~{svgFragments::week_review_clock}"/>
                </span>
                <p class="taskText" th:text="${task.getDescription()}"></p>
                <label class="checkboxContainer">
                    <input type="checkbox" class="toDelegate" onclick="updateButton()" name="taskIds"
                           th:value="${task.id}" checked>
                    <span class="weekIcon">
                        <svg class="icon-unchecked" th:insert="~{svgFragments::week_review_icon_add}"/>
                    </span>
                    <span class="weekIcon" th:utext="${user.getText('week_review_task_due_by', task.getDueDateDayOfWeek())}"></span>
                </label>
            </div>

            <div class="task" th:each="task : ${previousWeek.getSortedTasks()}" th:data-done="${task.done}">
                <span th:classappend="|prio${task.getPriority()}|">

                </span>
                <span class="taskStatus" th:if="${task.isDone()}">
                    <svg th:insert="~{svgFragments::week_review_check}"/>
                </span>
                <span class="taskStatus" th:if="${!task.isDone()}">
                    <svg th:insert="~{svgFragments::week_review_cross}" class="cross"/>
                </span>
                <p class="taskText" th:text="${task.getDescription()}"></p>
                <label class="checkboxContainer">
                    <input type="checkbox" class="toDelegate" onclick="updateButton()" name="taskIds"
                           th:value="${task.id}">
                    <span class="weekIcon">
                        <svg class="icon-unchecked" th:insert="~{svgFragments::week_review_icon_add}"/>
                    </span>
                    <span class="weekIcon" th:utext="${user.getText('week_review_task_added')}"></span>
                </label>
            </div>

            <p class="awesome" th:utext="${user.getText('week_review_did_you_know')}" style="padding-inline: 0"></p>
            <input type="hidden" id="leftBehindInput" name="leftBehinds">
            <button class="startWeek" type="submit" data-umami-event="startNewWeek">Start your week</button>
        </form>
        <svg th:insert="~{svgFragments::stickman1}" class="stickman"/>
    </main>

    <script>
        updateButton();

        function updateButton() {
            const checkedTasks = document.querySelectorAll(".toDelegate:checked");
            document.querySelector(".startWeek")
                .textContent = `Start week with ${checkedTasks.length} task${checkedTasks.length === 1 ? '' : 's'}`;
        }

        ((tasks) => {
            tasks.forEach(task =>
                task.addEventListener("click", (event) =>
                    event.target.tagName === "P" &&
                    task.querySelector(".checkboxContainer").dispatchEvent(new MouseEvent("click"))
                )
            );
        })(document.querySelectorAll(".task"));

        document.addEventListener("submit", function() {
            const leftBehindInput = document.querySelector("#leftBehindInput");
            const leftBehinds = document.querySelectorAll(".toDelegate:not(:checked)");

            leftBehindInput.value = Array.from(leftBehinds).map(c => c.value);
        });
    </script>
</section>
</body>
</html>